
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-daxiao:before { content: "\f0005"; }
.icon-yunshangchuan:before { content: "\f0020"; }
.icon-bianji:before { content: "\f0022"; }
.icon-shangchuan:before { content: "\f0023"; }
.icon-liebiao:before { content: "\f0025"; }
.icon-fasong:before { content: "\f0026"; }
.icon-shangchuan1:before { content: "\f0024"; }
.icon-kafei:before { content: "\f002c"; }
.icon-yinle:before { content: "\f0036"; }
.icon-huafei:before { content: "\f003f"; }
.icon-yangshengqi:before { content: "\f0051"; }
.icon-yinle1:before { content: "\f0064"; }
.icon-duihuakuang:before { content: "\f0066"; }
.icon-xianshiqi:before { content: "\f0091"; }
.icon-dianshiji:before { content: "\f0099"; }
.icon-shouji:before { content: "\f00a2"; }
.icon-dianchi:before { content: "\f00a4"; }
.icon-zhengque:before { content: "\f00b2"; }
.icon-cuowu:before { content: "\f00b3"; }
.icon-tishi:before { content: "\f00b6"; }
.icon-wenjian:before { content: "\f00bd"; }
.icon-suoding:before { content: "\f00c9"; }
.icon-ziti:before { content: "\f00cb"; }
.icon-shuzhuangtu:before { content: "\f00ce"; }
.icon-bingtu:before { content: "\f00cd"; }
.icon-quxiantu:before { content: "\f00cf"; }
.icon-zhexiantu:before { content: "\f00d0"; }
.icon-paixu:before { content: "\f0111"; }
.icon-xiangzuo:before { content: "\f0112"; }
.icon-xiangshang:before { content: "\f0113"; }
.icon-xiangyou:before { content: "\f0114"; }
.icon-fenxiang:before { content: "\f012f"; }
.icon-shouye:before { content: "\f012b"; }
.icon-baocun:before { content: "\f0131"; }
.icon-chexiao:before { content: "\f013a"; }
.icon-zhongzuo:before { content: "\f013b"; }
.icon-shanchu:before { content: "\f013f"; }
.icon-shezhi:before { content: "\f013e"; }
.icon-jian:before { content: "\f0153"; }
.icon-jia:before { content: "\f0154"; }
.icon-cuowu1:before { content: "\f0155"; }
.icon-zhengque1:before { content: "\f0156"; }
.icon-wenbenshuru:before { content: "\f0158"; }
.icon-shuaxin:before { content: "\f015c"; }
.icon-xiangyou1:before { content: "\f016d"; }
.icon-xiangzuo1:before { content: "\f016e"; }
.icon-xiangshang1:before { content: "\f016f"; }
.icon-xiangxia:before { content: "\f0170"; }
.icon-jia1:before { content: "\f0175"; }
.icon-jian1:before { content: "\f0176"; }
.icon-tuichu:before { content: "\f017c"; }
.icon-shezhi1:before { content: "\f018d"; }
.icon-jiesuo:before { content: "\f0195"; }
.icon-xiangzuo2:before { content: "\f01a8"; }
.icon-xiangyou2:before { content: "\f01a9"; }
.icon-yidong:before { content: "\f01b6"; }
.icon-quanping:before { content: "\f01b7"; }
.icon-suoxiao:before { content: "\f01b8"; }
.icon-fangda:before { content: "\f01b9"; }
.icon-bofang:before { content: "\f01cc"; }
.icon-xiangxia1:before { content: "\f02a9"; }
.icon-xiangshang2:before { content: "\f02aa"; }
.icon-refresh:before { content: "\e6a4"; }
.icon-rotate:before { content: "\e645"; }
.icon-font:before { content: "\e620"; }
.icon-lock:before { content: "\e62d"; }
.icon-delete:before { content: "\e60f"; }
.icon-add:before { content: "\e603"; }
.icon-check:before { content: "\e60b"; }
.icon-edit:before { content: "\e615"; }
.icon-unfold:before { content: "\e654"; }
.icon-fold:before { content: "\e61d"; }
.icon-left:before { content: "\e628"; }
.icon-right:before { content: "\e642"; }
.icon-todown:before { content: "\e64f"; }
.icon-toleft:before { content: "\e650"; }
.icon-toright:before { content: "\e651"; }
.icon-totop:before { content: "\e652"; }
.icon-sitting:before { content: "\e64c"; }
.icon-ziti1:before { content: "\e653"; }
.icon-queding:before { content: "\e64a"; }
.icon-shuaxin1:before { content: "\e64d"; }
.icon-xiangji:before { content: "\e651"; }
.icon-yi:before { content: "\e601"; }
.icon-tupian:before { content: "\3502"; }
.icon-juzuo:before { content: "\f017f"; }
.icon-juzhong:before { content: "\f0180"; }
.icon-juyou:before { content: "\f0181"; }
